body {
    background-color:#f8f8f8;
    font-size: 18px;
    font-family: Comic Sans MS;
}
/*--- Общие правила ---*/
h1{
  color: #5B5BAF;  
}
p{
    padding: 10px;
}
/*---end Общие правила ---*/
.container{
    width: 85%;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid;
    height: 180px;
}
.footer{
    height: 190px;
    background-color: #eee;
    border-top: 3px #4B4BAF solid;
    border-radius:15px 15px 0 0; 
    clear: both;
}
.footer p{
    text-align: right;
    margin-top: 100px;
    margin-right: 20px;
}
/*--- Tavar ---*/
.block_kratkoe{
   overflow: hidden;
   padding: 20px;
    margin-left: 20px;   
}
.block_kratkoe a{
    float: right;
    margin-right: 150px;
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
    background-color: #6060C1;
    border-radius: 5px;
    text-decoration: none;
    line-height: 18px;
    padding: 10px 15px;
}
.block_kratkoe a:hover{
     color: #eee;
    background-color: #4646A0;
    font-size: 25px;

}
.block_kratkoe .z_h{
    clear: none;
    
    /*overflow: hidden;*/
}
.z_h{
   color: black;
   font-size:19px;
    font-weight:400;
    background-color:#eaeaea;
    clear: both;
}

.kratkoe{
    color: #707070;
    font-size:16px;
    font-style:italic;
    line-height:20px;
    padding: 20px;

}
.kratkoe:first-letter{
         font-family: Verdana ;
         font-size:20px;
}
.podrobnoe{
    color: #484343;
    font-size:17px;
    font-weight:400;
    line-height:24px;
    text-align:left;
     padding: 20px;
}
.podrobnoe:first-letter{
         font-family: Arial ;
         font-size:20px;
}
.haract{
    color: #484343;
    font-size:16px;
    font-weight:400;
    line-height:30px;  

}
.haract li {
    list-style:none;
    background: url(../images/strel1.jpg) left center no-repeat ;
    background-size:18px;
    padding:4px 0 4px 30px;
   
}
/*---end tavar ---*/

/*--- logo ---*/
.logo{
    font-family: Comic Sans MS ;
    font-size:47px;
    font-weight: bold;
    margin:30px;
    color:#414146;
    float: left;

}
.logo:after{
    content:".ru";
    font-size:27px;
    color: #4B4BAF;
}
.logo:first-letter{
    font-size:55px;
    color: #4B4BAF;
}
/*---end logo ---*/

/*--- Menu ---*/
.block_menu{
    float: right;
    margin-top: 100px;
}
.menu{
    list-style: none;
}
.menu li{
    float: left;
}
ul li a{
    color: #fff;
    font-size: 20px;
    background-color: #4B4BAF;
    border-radius: 5px;
    text-decoration: none;
    line-height: 18px;
    padding: 10px 10px;
    display: inline-block;
    margin: 5px;   
}
ul li a:hover{
    color: #eee;
    background-color: #5B5BAF;
}
/*---end Menu ---*/



input{

    width: 300px;
    height:30px;
    border-radius:5px;
    color:#4B4BAF;
    font-size:16px;
    padding-left:5px;
    text-transform: capitalize; 
}


input[type="email"]:focus{
    background-color:#5B5BAF; 
    color:#eee;
}

table{
    width: 600px;
    height: 250px;
    border:1px solid;
    margin-left: 30px;
    border-collapse: collapse;

}
table td{
   border:1px solid;
  padding-left: 30px;
}

.foto_tov{
    float: left;
    margin-bottom: 25px;
}
.foto_tov img{
    border:20px solid #8686D6;
    border-radius: 5px;
}
.foto_tov img:hover{
    border:none;
    margin:20px;
  
}

.block_tovar{
    border: 1px solid;
    float: left;
    margin:25px;
    border-radius: 8px;
}
.block_tovar h4{
  font-size: 20px;
  margin-left: 10px;
}
.cont_kategori{
       width: 80%;
    margin: 0 auto;

}













