body {
    background-color:#f8f8f8;
    font-size: 18px;
    font-family: Comic Sans MS;
}
/*--- Общие правила ---*/
h1{
  color: #5B5BAF;  
}

/*---end Общие правила ---*/
/*--- Tavar ---*/
.z_h{
   color: black;
   font-size:19px;
    font-weight:400;
    background-color:#eaeaea;
}

.kratkoe{
    color: #707070;
    font-size:16px;
    font-style:italic;
    line-height:16px;
}
.kratkoe:first-letter{
         font-family: Verdana ;
         font-size:20px;
}
.podrobnoe{
    color: #484343;
    font-size:17px;
    font-weight:400;
    line-height:24px;
    text-align:left;
}
.podrobnoe:first-letter{
         font-family: Arial ;
         font-size:20px;
}
.haract{
    color: #484343;
    font-size:16px;
    font-weight:400;
    line-height:30px;        
}
.haract li {
    list-style:none;
    background: url(../images/strel1.jpg) left center no-repeat ;
    background-size:18px;
    padding:4px 0 4px 30px;
   
}
/*---end tavar ---*/

/*--- logo ---*/
.logo{
    font-family: Comic Sans MS ;
    font-size:47px;
    font-weight: bold;
    margin:25px;
    color:#414146;

}
.logo:after{
    content:".ru";
    font-size:27px;
    color: #4B4BAF;
}
.logo:first-letter{
    font-size:55px;
    color: #4B4BAF;
}
/*---end logo ---*/

/*--- Menu ---*/
.menu{
    list-style: none;
}
ul li a{
    color: #fff;
    font-size: 20px;
    background-color: #4B4BAF;
    border-radius: 5px;
    text-decoration: none;
    line-height: 18px;
    padding: 10px 10px;
    display: inline-block;
    margin: 5px;   
}
ul li a:hover{
    color: #eee;
    background-color: #5B5BAF;
}
/*---end Menu ---*/



input{

    width: 300px;
    height:30px;
    border-radius:5px;
    color:#4B4BAF;
    font-size:16px;
    padding-left:5px;
    text-transform: capitalize; 
}


input[type="email"]:focus{
    background-color:#5B5BAF; 
    color:#eee;
}

table{
    width: 600px;
    height: 250px;
    border:1px solid;
    margin-left: 30px;
    border-collapse: collapse;

}
table td{
   border:1px solid;
  padding-left: 30px;
}

.foto_tov img{
    border:20px solid #8686D6;
    border-radius: 5px;
}
.foto_tov img:hover{
    border:none;
    margin:20px;
  
}
















